- if @slide.id
  = form_for @slide, url: admin_slide_path do |f|
    - if @slide.errors.any?
      #error_explanation
        %h2= "#{pluralize(@slide.errors.count, "error")} prohibited this slide from being saved:"
        %ul
          - @slide.errors.full_messages.each do |msg|
            %li= msg

    .field
      = f.label :name
      = f.text_field :name
    .field
      = f.label :sequence
      = f.text_field :sequence
    .field
      = f.label :css_id
      = f.text_field :css_id
    .field
      = f.label :css_class
      = f.text_field :css_class
    .clr
    %br
    .field
      = f.label :x
      = f.text_field :x
    .field
      = f.label :y
      = f.text_field :y
    .field
      = f.label :z
      = f.text_field :z
    .clr
    %br
    .field
      = f.label :rotate
      = f.text_field :rotate
    .field
      = f.label :scale
      = f.text_field :scale
    .clr

    .rich_text_edit
      = f.label :content
      = f.text_area :content, :class => 'ckeditor'

      = f.hidden_field :presentation_id, value: @slide.presentation_id
    .clr

    .actions
      = link_to 'Back', admin_presentation_path(@slide.presentation_id)
      = f.submit 'Save'

- else 
  = form_for @slide, url: admin_slides_path do |f|
    - if @slide.errors.any?
      #error_explanation
        %h2= "#{pluralize(@slide.errors.count, "error")} prohibited this slide from being saved:"
        %ul
          - @slide.errors.full_messages.each do |msg|
            %li= msg

    .field
      = f.label :name
      = f.text_field :name
    .field
      = f.label :sequence
      = f.text_field :sequence
    .field
      = f.label :css_id
      = f.text_field :css_id
    .field
      = f.label :css_class
      = f.text_field :css_class
    .clr
    %br
    .field
      = f.label :x
      = f.text_field :x
    .field
      = f.label :y
      = f.text_field :y
    .field
      = f.label :z
      = f.text_field :z
    .clr
    %br
    .field
      = f.label :rotate
      = f.text_field :rotate
    .field
      = f.label :scale
      = f.text_field :scale
    .clr
    

    .rich_text_edit
      = f.label :content
      = f.text_area :content, :class => 'ckeditor'

      = f.hidden_field :presentation_id, value: @slide.presentation_id
    .clr

    .actions
      = link_to 'Back', admin_presentation_path(@slide.presentation_id)
      = f.submit 'Save'

