- if @presentation.id
  = form_for @presentation, url: admin_presentation_path do |f|
    - if @presentation.errors.any?
      #error_explanation
        %h2= "#{pluralize(@presentation.errors.count, "error")} prohibited this presentation from being saved:"
        %ul
          - @presentation.errors.full_messages.each do |msg|
            %li= msg

    .field
      = f.label :name
      = f.text_field :name
    .field
      = f.label :slug
      = f.text_field :slug
    .clearfix

    .actions
      = link_to 'Show', admin_presentation_path(@presentation)
      = link_to 'Back', admin_presentations_path
      = f.submit 'Save'

- else 
  = form_for @presentation, url: admin_presentations_path do |f|
    - if @presentation.errors.any?
      #error_explanation
        %h2= "#{pluralize(@presentation.errors.count, "error")} prohibited this presentation from being saved:"
        %ul
          - @presentation.errors.full_messages.each do |msg|
            %li= msg

    .field
      = f.label :name
      = f.text_field :name
    .field
      = f.label :slug
      = f.text_field :slug
    .clearfix

    .actions
      = link_to 'Show', admin_presentation_path(@presentation)
      = link_to 'Back', admin_presentations_path
      = f.submit 'Save'

  