%div.panel.panel-default
  
  %div.breadcrumb
    = "Listing Presentations"

  %table.table.table-hover
    %tr
      %th ID
      %th Name
      %th Actions

    - @presentations.each do |presentation|
      %tr
        %td= presentation.id
        %td= presentation.name
        %td
          = link_to 'Show', admin_presentation_path(presentation)
          = link_to 'Edit', edit_admin_presentation_path(presentation)
          = link_to 'Destroy', admin_presentation_path(presentation), :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Presentation', new_admin_presentation_path
