%div.panel.panel-default
  
  %div.breadcrumb
    = "Presentation : "+@presentation.name
      
  %table.table.table-hover
    %tr
      %th ID
      %th Name
      %th CSS id 
      %th CSS class
      %th Content
      %th Actions

    - @presentation.slides.each do |slide|
      %tr
        %td= slide.id
        %td= slide.name
        %td= slide.css_id
        %td= slide.css_class
        %td= raw slide.content
        %td
          = link_to 'Edit', edit_admin_slide_path(slide)
          = link_to 'Destroy', admin_slide_path(slide), :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'Back', admin_presentations_path
= link_to 'New Slide', new_admin_slide_path(presentation_id: @presentation.id)
