#impress

  - ex = ypsylon = rotate = 0
  - @presentations.each do |presentation|
    - (ex > 9000) ? ex -= 900 : ex += 900
    - (ypsylon > 6000) ? ypsylon -= 400 : ypsylon += 400
    - rotate += 90
    %div{id: presentation.slug, class: "step", data: {x: ex, y: ypsylon, rotate: rotate, scale: 4} }
      %p= link_to presentation.name, show_presentation_path(presentation.slug)
  
  #overview.step{data: {x: "3000", y: "1500", scale: "10"}}