#impress

  - @slides.each do |slide|
    %div{id: slide.name, class: "step", data: {x: slide.x, y: slide.y, z: slide.z, rotate: slide.rotate, scale: slide.scale} }
      %p= raw slide.content
  
  #overview.step{data: {x: "3000", y: "1500", scale: "10"}}