#impress
  #title.step{data: {x: "0", y: "0", scale: "4"}}
    %span.try let's talk
    %h1 PHP testing
    %span.footnote possible time saver

  #its.step{data: {x: "850", y: "3000", rotate: "90", scale: "5"}}
    %p It's a <strong>presentation tool</strong> <br/>inspired by the idea behind <a href="http://prezi.com">prezi.com</a> <br/>and based on the <strong>power of CSS3 transforms and transitions</strong> in modern browsers.

  #big.step{data: {x: "3500", y: "2100", rotate: "180", scale: "6"}}
    %p visualize your <b>big</b> <span class="thoughts">thoughts</span>

  #tiny.step{data: {x: "2825", y: "1825", z: "-3000", rotate: "290", scale: "1"}}
    %p and <b>tiny</b> ideas

  #tiny2.step{data: {x: "2825", y: "2325", z: "-4000", rotate: "200", scale: "1"}}
    %p and <b>tiny</b> ideas

  #tiny3.step{data: {x: "2825", y: "2525", z: "-5000", rotate: "110", scale: "1"}}
    %p and <b>tiny</b> ideas

  #ing.step{data: {x: "3500", y: "-850", rotate: "270", scale: "6"}}
    %p by <b class="positioning">positioning</b>, <b class="rotating">rotating</b> and <b class="scaling">scaling</b> them on an infinite canvas

  #imagination.step{data: {x: "6700", y: "-300", scale: "6"}}
    %p the only <b>limit</b> is your <b class="imagination">imagination</b>

  #source.step{data: {x: "6300", y: "2000", scale: "4"}}
    %p want to know more?
    %q <a href="http://github.com/bartaz/impress.js">use the source</a>, Luke!

  #one-more-thing.step{data: {x: "7550", y: "-1400", scale: "3"}}
    %p one more thing...

  #its-in-3d.step{data: {x: "1600", y: "-2050", rotate: "270", scale: "6"}}
    %p <span class="have">have</span> <span class="you">you</span> <span class="noticed">noticed</span> <span class="its">it's</span> <span class="in">in</span> <b>3D<sup>*</sup></b>?
    %span.footnote * beat that, prezi ;)

  #about.step{data: {x: "4000", y: "4500", z: "100", scale: "4"}}
    %span.try For this presentation I used 
    %h1 impress.js
    %span.footnote inspiration from <a href="http://prezi.com/">prezi.com</a>

  #end.step{data: {x: "-1000", y: "3000", rotate: "90", scale: "4"}}
    %h1 Thx for you attention :)

  #overview.step{data: {x: "3000", y: "1500", scale: "10"}}
