!!! 5
%html{lang: :en}

  %head

    %meta{charset: "utf-8"}
    %meta{name: "viewport", content: "width=1024"}
    %meta{name: "apple-mobile-web-app-capable", content: "yes"}

    %title Impress on Rails Administration

    = stylesheet_link_tag    "admin"
    = csrf_meta_tags

  %body.impress-not-supported

    %div.container.headline
      %h3= "Impress on Rails Administration"

    %div.container
      = yield

    = javascript_include_tag "admin"