!!! 5
%html{lang: :en}

  %head

    %meta{charset: "utf-8"}
    %meta{name: "viewport", content: "width=1024"}
    %meta{name: "apple-mobile-web-app-capable", content: "yes"}

    %title Impress on Rails

    = stylesheet_link_tag    "application"
    = csrf_meta_tags

  %body.impress-not-supported

    = yield

    = javascript_include_tag "application"